.Component5{
    width: 80%;
    display: flex;
    justify-content: center;
}
.mains{
    display: flex;
    z-index: 6;
    /*background-color: black;
    *//*color: blueviolet;
    *//*background-color: blue;
    */flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top:-320px;
    gap:20vw;

    
}
body{
    /* background-color: black; */
}