.computer img{
    height: 30vw;
    width: 50vw;
    position: relative;
    top:4vw;
    z-index: -1;
}
.computer{display: flex;
  align-items: center;
  justify-content: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(145deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(5,40,36,1) 51%, rgb(72, 2, 234) 100%);
        z-index: 5;
        height: 80vh;
        color: white;
        border: 3px solid black;
}
.box h1{
    margin-top: 10vw;
    font-size: 4vw;
}
.box p{
   padding: 0 22vw;
   margin-top: 20px;
   text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}
/* .body{margin: 0;} */

.container1{
    height: 40vw;
    width: 80vw;
    z-index: 6;
    background-color: brown;
    position: relative;
    top: -200px;
    left: 10vh;
}